// .hamburger {
// 	@include tabletUp {
// 		display: none;
// 	}
// }

.hamburger--stand {
	@include tabletUp {
		display: none;
		opacity: 0;
		height: 0;
	}
}

// .hamburger-box {
// 	@include tabletUp {
// 		display: none;
// 		opacity: 0;
// 		height: 0;
// 	}
// }
