.footer {
	background-color: white;
	// max-height: 20vh;
	color: $porcelain;
	display: flex;
	justify-content: center;
	padding: 5rem;

	& i {
		// margin: 5rem;
		font-size: 10rem;
		margin-left: 2rem;
		margin-right: 2rem;
		cursor: pointer;
	}

	& a {
		text-decoration: none;
		color: white;
	}
}

.fa-linkedin {
	color: #0e76a8;
}

.fa-github {
	color: #171515;
}

.fa-envelope {
	color: #bb001b;
}
