.github {
	background-color: aliceblue;
	padding-bottom: 4rem;
	background-color: #f0faf9;
	margin-top: -20%;

	&__heading {
		font-size: 4rem;
		text-align: center;
		padding: 4rem;
		letter-spacing: 0.3rem;
		color: $haiti;
		padding-top: 20%;
	}

	&__button {
		padding: 1rem;
		border-radius: 20%;
		background-color: $turquoise;
		margin-left: 10%;
		margin-top: 2rem;
		transition: all 0.2s;
		border: 1px black solid;

		& a {
			text-decoration: none;
			color: black;
			font-size: 2rem;
		}

		&:hover {
			background-color: #34aca6;
		}
	}
}

.calendar {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}
