.github {
	background-color: aliceblue;
	padding-bottom: 4rem;

	&__heading {
		font-size: 4rem;
		text-align: center;
		padding: 4rem;
		letter-spacing: 0.2rem;
		color: #170e2d;
	}
}

.calendar {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}
