.home {
	height: 90vh;
	background-color: $dodger-blue;
	display: flex;
	justify-content: center;
	align-items: center;

	&__headings {
		color: $porcelain;
		text-align: left;
		margin-top: -15rem;

		@include phone {
			margin-top: -20rem;
		}
	}

	&__h2 {
		font-size: 5rem;
		margin-top: -10rem;
		margin-bottom: 0.5rem;

		@include phone {
			font-size: 3rem;
			margin-top: 0;
		}
	}

	&__h3 {
		font-size: 2rem;
	}
}

.view {
	color: $porcelain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 10rem;

	// @include phone {
	// 	bottom: 10rem;
	// }

	&__project {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	&__link {
		text-decoration: none;
		color: $porcelain;
		transition: all 0.2s;

		&:hover,
		&:active {
			transform: scale(1.2);
		}
	}

	&__arrow {
		font-size: 5rem;
	}
}
