.home {
	height: 90vh;
	background-color: #20a4f3;
	display: flex;
	justify-content: center;
	align-items: center;

	&__headings {
		color: white;
		margin-top: -15rem;
	}

	&__h2 {
		font-size: 5rem;
	}

	&__h3 {
		font-size: 2rem;
	}
}

.view {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 5rem;

	&__project {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	&__link {
		text-decoration: none;
		color: white;
		transition: all 0.2s;

		&:hover,
		&:active {
			transform: scale(1.2);
		}
	}

	&__arrow {
		font-size: 5rem;
	}
}
