.nav {
	height: 10vh;
	width: 100vw;
	background-color: $dodger-blue;
	color: $porcelain;
	display: flex;
	justify-content: space-between;

	// NAV LOGO

	&__block {
		display: flex;
		flex-direction: row;
		padding: 2rem;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		font-family: "Monoton", cursive;
		font-size: 5rem;
		margin-right: 2rem;
	}

	&__description {
		display: flex;
		flex-direction: column;
		font-size: 3rem;
	}

	// NAV LIST

	&__list {
		display: flex;
		flex-direction: column;
		background-color: $porcelain;
		position: absolute;
		right: 0;
		top: 10vh;
		transform: translateX(10rem);
		transition: all 0.3s;
		height: 0;
		opacity: 0;
		overflow: hidden;
		z-index: 1000;

		@include tabletUp {
			flex-direction: row;
			transform: translateX(0);
			opacity: 1;
			height: 10vh;
			background-color: $dodger-blue;
			top: 0;
			right: 0rem;
			width: min-content;
		}
	}

	&__item {
		list-style-type: none;
		margin: 2rem;
		// text-transform: uppercase;
		transition: all 0.2s;
	}

	&__link {
		text-decoration: none;
		color: $dodger-blue;
		font-size: 2rem;
		padding-bottom: 3px;
		letter-spacing: 0.3px;

		@include tabletUp {
			color: $porcelain;
		}

		&:hover,
		&:active {
			border-bottom: 2px solid $dodger-blue;

			@include tabletUp {
				border-bottom: 2px solid $porcelain;
			}
		}
	}
}

.translate {
	transform: translateX(0);
	opacity: 1;
	height: auto;
}
