.projects {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $porcelain;
	margin-top: -20%;
	padding-bottom: 20%;

	&__heading {
		font-size: 4rem;
		text-align: center;
		margin: 4rem;
		letter-spacing: 0.2rem;
		display: flex;
		color: $haiti;
		margin-top: 20%;
	}

	&__container {
		width: 100vw;
		margin-bottom: 4rem;
		text-align: center;
		align-items: center;
		justify-content: center;
		display: flex;
		// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		// grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
		// gap: 3rem;
	}

	&__project {
		background-color: $radical-red;
		min-width: 30rem;
		min-height: 30rem;
		max-width: 350px;
		font-size: 2rem;
		border-radius: 3px;
		box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.3);
		margin: 0 3rem;
		cursor: pointer;
		position: relative;
		transition: all 0.2s;
		&:hover,
		&:active {
			transform: scale(0.98);
			box-shadow: 2px 2px 2px (rgba($color: black, $alpha: 0.3));
		}

		&-2 {
			background-image: url("../../DoubleShot.png");
			background-size: cover;
			background-position: center;
		}

		&-3 {
			background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
				url(../../RaftingCompany.jpg);
			background-size: cover;
			background-position: center;
		}
	}

	&__header {
		font-size: 3rem;
		color: $porcelain;
		margin-top: 0.4rem;
	}

	&__image {
		width: 80%;
	}

	&__buttons {
		position: absolute;
		bottom: 1rem;
		right: 1rem;

		& a {
			text-decoration: none;
			color: $haiti;
			font-size: 1.7rem;
		}
	}

	&__button {
		background-color: $turquoise;
		padding: 1rem;
		border: none;
		border-radius: 20%;
		margin: 0.3rem;
		transition: all 0.2s;

		&:hover,
		&:active {
			transform: scale(1.1);
		}
	}
}
