.skills {
	background-color: $dodger-blue;
	clip-path: polygon(0 18%, 100% 0, 100% 84%, 0% 100%);
	margin-top: -20%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		font-size: 4rem;
		text-align: center;
		padding-top: 10%;

		@include tablet {
			padding-top: 20%;
		}
	}

	&__lists {
		display: flex;
		margin-top: 3rem;
		margin-bottom: 15rem;
	}

	& ul {
		font-size: 3rem;
		margin-top: 1rem;
		list-style-type: none;
		margin: 0 3rem;
	}

	& li {
		line-height: 3.3rem;
	}
}
