.skills {
	background-color: $dodger-blue;
	// clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
	// margin-top: -20%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		font-size: 4rem;
		text-align: center;
		padding: 8rem;
		padding-bottom: 2rem;

		@include tablet {
			padding-top: 20%;
		}
	}

	&__lists {
		display: flex;
		margin-top: 3rem;
		margin-bottom: 15rem;
	}

	& ul {
		font-size: 3rem;
		margin-top: 1rem;
		list-style-type: none;
		margin: 0 3rem;
	}

	& li {
		line-height: 3.3rem;
	}

	& i {
		font-size: 6rem;
		padding: 1rem;
	}
}

.fa-js-square {
	color: #f0db4f;
}

.fa-html5 {
	color: #e44d26;
}

.fa-css3-alt {
	color: #264de4;
}

.fa-sass {
	color: #cc6699;
}

.fa-react {
	color: #61dbfb;
}

.fa-git-alt {
	color: #f34f29;
}
